.Blog-box {
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://cdn.jsdelivr.net/gh/lzxjack/cdn/img/202203312131674.webp);
}
div {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
input {
  background: none;
  outline: none;
  border: 0px;
  border-radius: 0;
}
body {
  width: 100% !important;
}
html {
  background-color: #0b0a06;
}
body {
}

@media all and (max-width: 1000px) {
  .Blog-box {
    min-height: 100vh;
    background: url(https://cdn.narojay.site/R-C.jpg);
  }
}
