.post-container img {
  width: 100%;
}

.post-container {
  background-color: cornsilk;
}

.standard-page-box {
  width: 100%;
  margin: 100px auto;
  border-radius: 20px;
  padding: 40px;
  font-size: 20px;
  color: #fff;
}
.title {
  text-align: center;
  color: cadetblue;
  font-size: 25px;
  font-weight: bolder;
  height: 200px;
  color: cadetblue;
}
.author {
  font-size: 10px;
  display: flex;
  justify-content: center;
}

.up {
  background-image: url("https://cdn.narojay.site/static/img/up.svg");
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
