.aboutme-box {
  border-radius: 20px;
  flex: 1;
  margin-right: 20px;
}

.aboutme-content-box {
  font-size: 200px;
}
.aboutme-title-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 36px;
  color: #fff;
  font-family: "yu400";
}

.aboutme-main-box {
  width: 100%;
  border-radius: 20px;
  margin-top: 100px;
  padding: 40px;
}

.about-site-first {
  margin-right: 20px;
}

.about-site-second {
  margin-left: 20px;
}

@media all and (max-width: 1000px) {
  .aboutme-title-box {
    font-size: 20px;
  }

  .aboutme-main-box {
    width: 100%;
    border-radius: 10rem;
    margin-top: 100rem;
    padding: 10rem;
  }
  .aboutme-title-box {
    font-size: 14rem;
  }
}
