.staticbox {
  flex: 1;
  height: 100%;
  margin-right: 20px;
  transition: all 0.2s;
  user-select: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.staticbox:hover {
  color: black;
}
