.article-item {
  height: 220px;
  border-radius: 20px;
  margin-bottom: 20px;
  user-select: none;
  transition: all 0.2s;
  width: 100%;
}

.article-item:hover {
  cursor: pointer;
}
.article-item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 28px;
  font-weight: 700;
  color: cadetblue;
}
::-webkit-scrollbar {
  display: none;
}

.box {
  margin-top: 100px;
}
.article-item-info {
  position: relative;
  height: 60px;
}
.tag-left {
  position: absolute;
  color: cadetblue;
  font-size: 20px;
  left: 20px;
  top: 80px;
}
.tag-left:hover {
  color: #1890ff;
  font-weight: bold;
  transition: all 0.1s;
}
.tag-right {
  position: absolute;
  color: cadetblue;
  font-size: 20px;
  right: 20px;
  top: 80px;
}
