.leaveMessage {
  border-radius: 10px;
  width: 100%;
  border-radius: 20px;
  margin-top: 100px;
  padding: 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(11, 24, 31);
}

.leaveMessage-container {
  width: 100%;
}
.leaveMessage-box {
  width: 100%;
}
.le-img {
  border-radius: 10px;
  width: 70px;
  height: 70px;
}

.le-content-box {
  display: flex;
  padding: 4px;
}
.le-item-content {
  padding-left: 1rem;
  width: 100%;
  font-size: 18px;
  word-break: break-all;
  font-family: "dengxian";
}

.le-item1-title {
  position: relative;
  display: flex;
}

.le-item1-name {
  font-weight: 800;
  margin-right: 10px;
}
.le-item1-name-master {
  font-weight: 800;
  margin-right: 0px;
  background-color: cornflowerblue;
  border-radius: 5px;
}

.le-item1-content {
  background-color: rgb(22, 54, 51);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  overflow-wrap: break-word;
  font-size: 18px;
  word-break: break-all;
  font-family: "dengxian";
}
.le-item1-name:hover {
  border-radius: 10px;
  background-color: violet;
}
.le-item1-time {
  padding-left: 10px;
}

.le-child-content {
  margin-left: 80px;
}

.le-reply-btn {
  position: absolute;
  right: 1rem;
}
.le-reply-btn {
  cursor: pointer;
}
.le-reply:hover {
  cursor: pointer;
}

.le-replay-content {
  padding: 10px;
}

.le-input-box {
  display: flex;
}
.le-input-info-main {
  display: flex;
  height: 46px;
  font-size: 18px;
  width: 100%;
  justify-content: flex-start;
}
.le-input-info {
  display: flex;
  height: 36px;
  justify-content: space-between;
  border-radius: 14px;
  overflow: hidden;
  background-color: #275f59;
  margin-right: 10px;
}
.le-input-key {
  width: 56px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.le-input-value {
  width: 100%;
  flex: 1;
  padding: 0 10px;
  font-size: 16px;
  background-color: rgb(22, 54, 51);
}

.textarea {
  width: 100%;

  resize: none;
  cursor: default;
  border-radius: 10px;
  background-color: rgb(22, 54, 51);
}
.textarea:hover {
  cursor: auto;
}
.textarea::-webkit-scrollbar {
  width: 6rem;
}
.textarea::-webkit-scrollbar-thumb {
  border-radius: 3rem;
}

textarea {
  outline: none;
}

.le-replay-content-box {
  padding-left: 10px;
  width: 100%;
}

.le-comment-box {
  position: relative;
  height: 50px;
}

.le-comment-box-item1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 70px;
  height: 36px;
  background-color: #275f59;
  border-radius: 1rem;
  right: 10px;
  bottom: 0;
}
.le-comment-box-item2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 70px;
  height: 36px;
  background-color: #275f59;
  border-radius: 1rem;
  right: 100px;
  bottom: 0;
}
.le-comment-box-item1:hover {
  background-color: #62a4da;
  cursor: pointer;
}
.le-comment-box-item2:hover {
  background-color: #62a4da;
  cursor: pointer;
}

@media all and (max-width: 1000px) {
  .leaveMessage {
    border-radius: 10rem;
    margin-top: 100rem;
    padding: 2rem;
  }
  .le-img {
    border-radius: 5rem;
    width: 35rem;
    height: 35rem;
  }
  .le-input-key {
    width: 35rem;
    user-select: none;
  }
  .le-input-info-main {
    height: 60rem;
    font-size: 10rem;
    flex-direction: column;
  }
  .le-input-info {
    display: flex;
    margin-bottom: 10rem;
    margin-right: 3rem;
  }
  .le-input-value {
    padding: 0 2rem;
    font-size: 10rem;
    background-color: rgb(22, 54, 51);
  }
  .le-comment-box-item1 {
    font-size: 10rem;
    width: 40rem;
    height: 20rem;
    border-radius: 1rem;
    right: 10rem;
    border-radius: 10rem;
  }
  .le-comment-box-item2 {
    font-size: 10rem;
    width: 40rem;
    height: 20rem;
    border-radius: 10rem;
    right: 60rem;
  }
  .le-comment-box {
    position: relative;
    height: 25rem;
  }
  .le-replay-content-box {
    padding-left: 10rem;
  }
  .le-item-content {
    padding-left: 10rem;
    font-size: 14rem;
  }
  .le-content-box {
    padding: 10rem;
  }
  .reply-to {
    font-size: 14rem;
    font-weight: 700;
  }
  .le-child-content {
    margin-left: 45rem;
  }
  .le-item1-name {
    display: flex;
    justify-content: center;
    align-self: center;
    font-weight: 800;
    font-size: 10rem;
    margin-right: 0;
    margin-right: 10rem;
  }
  .le-item1-name-master {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 10rem;
    width: 30rem;
    margin-right: 0;
    background-color: cornflowerblue;
    border-radius: 10rem;
  }
  .le-item1-title {
    height: 20rem;
  }
  .le-item1-time {
    position: absolute;
    right: 4rem;
    padding-left: 0rem;
    font-size: 10rem;
  }
  .le-item1-content {
    position: relative;
    border-radius: 10rem;
    padding-left: 10rem;
    font-size: 10rem;
    padding-bottom: 15rem;
  }
}
