.leaveMessage-container {
  width: 1000px;
  font-size: 20px;
  color: white;
}
.leaveMessage-box {
  padding: 50px;
  margin: 100px auto;
  margin-bottom: 0;
  border: 2px solid;
  width: 1000px;
  border-radius: 20px;
  background-color: rgba(35, 35, 44, 1);
}

.leaveMessage-page-box {
  margin-left: 100px;
  margin-top: 40px;
}
.icon-format:hover {
  font-size: 30px;
  cursor: pointer;
  transition: all 0.4s;
}
.icon-format {
  cursor: pointer;
  transition: all 0.4s;
}
.content-container {
  width: 200px;
  word-break: break-all;
  background-color: black;
  line-height: 0;
}

.theme-container {
  display: inline-block;
  margin-bottom: 20px;
}
