.home-top-img {
  min-height: calc(100vh);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}
.home-top-title {
  font-size: 56px;
  color: currentColor;
  font-weight: 700;
}
.home-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-main {
  width: calc(100% - 100px);
  height: 100vh;
}
