.home-top-img {
  min-height: calc(100vh);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}
.home-top-title {
  font-size: 56px;
  color: currentColor;
  font-weight: 700;
}
.home-body {
  display: flex;
}
.home-main {
  width: calc(100% - 260px);
  /* min-height: calc(100vh - 60px - 120px); */
  min-height: calc(100vh - 120px);
  padding-right: 20px;
}
.home-aside {
  width: 200px;
  color: #fff;
}

.myname {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  border-radius: 20px;
  width: 220px;
  height: 220px;
  padding: 20px;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-image: url("https://img-blog.csdnimg.cn/4cca66b39ad249d9a1151bcaa5bc2a37.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.naruto_color {
  color: #ea6a11;
}
.card-box {
  margin-top: 130px;
  height: 60px;
  width: 100%;
  top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn-card {
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
}
.QR-code {
  width: 200px;
  height: 200px;
}

.cardstyle {
  background-color: teal;
  border-radius: 20px;
  margin: 0 20px;
  font-size: 30px;
  color: #fff;
}

.cardstyle:hover {
  font-size: 40px;
  transition: all 0.3s;
}

@media all and (max-width: 1000px) {
  /* 表格 */
  .home-main {
    padding-right: 0;
    width: 100%;
  }
  .home-aside {
    display: none;
  }
  .home-top-title {
    font-size: 25px;
  }
}
