.home-top-img {
  min-height: calc(100vh);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}
.home-top-title {
  font-size: 56px;
  color: currentColor;
  font-weight: 700;
}
.home-body {
  display: flex;
  justify-content: space-between;
}
.home-main {
  width: calc(100% - 260px);
  flex: 3;
  /* min-height: calc(100vh - 60px - 120px); */
  min-height: calc(100vh - 120px);
  padding-right: 20px;
}
.home-aside {
  flex: 1;
  color: #fff;
}

.myname {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  border-radius: 20px;
  font-size: 20px;
  height: 220px;
  background-image: url("https://img-blog.csdnimg.cn/4cca66b39ad249d9a1151bcaa5bc2a37.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.naruto_color {
  color: #ea6a11;
}
.card-box {
  margin-top: 130px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-btn-card {
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
  color: rgb(11, 24, 31);
}
.QR-code {
  width: 200px;
  height: 200px;
}

.cardstyle {
  display: flex;
  background-color: rgb(11, 24, 31);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 30px;
  color: #fff;
  height: 40px;
  width: 40px;
}

.cardstyle:hover {
  transition: all 0.3s;
  background-color: rgb(11, 24, 31);
}

@media all and (max-width: 1000px) {
  .home-body {
    display: flex;
    justify-content: center;
  }
  .home-main {
    flex: 3;
  }
  .home-aside {
    flex: 1;
  }
}
